/* cameraPreview.css */

html {
    background-color: transparent;
}

body.cameraPreview {
    background-color: #FFFFFF;
    background-image: none;
    overflow: hidden;
}
body.fixBackground {
    background-color: transparent!important;
}

#camera-test {
    margin-top: 2vh;
}

#cameraPreviewImgWrap {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}
#cameraPreviewImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 110;
    -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
            transition: all .5s;
}
#photoFrame {
    display: none;
    position: absolute;
    background: #fff;
    width: 65%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    opacity: .4;
    z-index: 200;
}

.on {
    display: block!important;
    -webkit-animation:fade 1000ms;
            animation:fade 1000ms;
}
@keyframes fade {
    from { opacity: 0.0; }
    30% { opacity: 0.3; }
    60% { opacity: 0.1; }
    to { opacity: 0.4; }
}
@-webkit-keyframes fade {
    from { opacity: 0.0; }
    30% { opacity: 0.3; }
    60% { opacity: 0.1; }
    to { opacity: 0.4; }
}

.size-change {
    width: 60%!important;
    top: 13vw!important;
    /*-webkit-animation:size 500ms;*/
            /*animation:size 500ms;*/
}
@keyframes size {
    from { width: 100%; margin-top: 0; }
    to { width: 60%; margin-top: 10%; }
}
@-webkit-keyframes size {
    from { width: 100%; margin-top: 0; }
    to { width: 60%; margin-top: 10%; }
}

.text {
    opacity: 0;
    font-family: open sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 2.8vw;
    font-weight: 700;
    color: rgb(51, 122, 183);
    text-align: center;
    text-transform: none;
    -webkit-transition: opacity .15s; /* For Safari 3.1 to 6.0 */
            transition: opacity .15s;
}
#text_1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#text_2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#employee-name,
#text_2_time {
    font-weight: 900;
}
.text_big {
    font-size: 4vw;
    margin: 3.5vw 0;
}

#back-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 400;
}

.employee-name-wrap {
    margin-top: 2vw;
    padding: 0 4vw;
}