/* cameraPreview.css */

html {
    background-color: transparent;
}

body.cameraPreview {
    background-color: transparent;
    background-image: none;
}

img.take_pic_class {
    /* Center horizontally */
    position: absolute; margin: auto;

    width: 75px; height: 75px;
    left: 0px; right: 0px; bottom: 20px;

    /*background:url(../img/cameraPreview/take_photo.png) no-repeat center center;*/
    /*background-size: contain;*/
    /*z-index: 1000;*/
}

#cameraPreviewImg {
    min-width: 100%;
}