/* cameraPreview.css */

html {
    background-color: transparent;
}

body.cameraPreview {
    background-color: transparent;
    background-image: none;
    overflow: hidden;
}

.cameraPreviewImgWrap {
    position: relative;
    z-index: 100;
}
#cameraPreviewImg {
    min-width: 100%;
    z-index: 110;
}
#photoFrame {
    display: none;
    position: absolute;
    background: #fff;
    width: 50%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    opacity: .4;
    z-index: 200;
}

@keyframes fade {
    from { opacity: 0.0; }
    30% { opacity: 0.3; }
    60% { opacity: 0.1; }
    to { opacity: 0.4; }
}

@-webkit-keyframes fade {
    from { opacity: 0.0; }
    30% { opacity: 0.3; }
    60% { opacity: 0.1; }
    to { opacity: 0.4; }
}

.on {
    display: block!important;
    animation:fade 1500ms;
    -webkit-animation:fade 1500ms;
}